USE [master]
GO
/****** Object:  Database [fyp_ORM1]    Script Date: 10/05/2026 4:22:33 pm ******/
CREATE DATABASE [fyp_ORM1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'fyp_ORM1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SUQOON\MSSQL\DATA\fyp_ORM1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'fyp_ORM1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SUQOON\MSSQL\DATA\fyp_ORM1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [fyp_ORM1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [fyp_ORM1]
GO
/****** Object:  Table [dbo].[Activity]    Script Date: 10/05/2026 4:22:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activity](
	[activity_id] [int] IDENTITY(1,1) NOT NULL,
	[activity_name] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[activity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chat]    Script Date: 10/05/2026 4:22:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat](
	[chat_id] [int] IDENTITY(1,1) NOT NULL,
	[question] [varchar](500) NULL,
	[answer] [varchar](4000) NULL,
	[chat_type] [varchar](40) NULL,
	[chat_session_id] [int] NULL,
	[time_stamp] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[chat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chat_session]    Script Date: 10/05/2026 4:22:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat_session](
	[chat_session_id] [int] IDENTITY(1,1) NOT NULL,
	[Farmer_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[chat_session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 10/05/2026 4:22:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[city_id] [int] IDENTITY(1,1) NOT NULL,
	[city_name] [varchar](100) NOT NULL,
	[province_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[city_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Crop]    Script Date: 10/05/2026 4:22:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Crop](
	[crop_id] [int] IDENTITY(1,1) NOT NULL,
	[crop_name] [varchar](100) NULL,
	[season_name] [int] NULL,
	[crop_image] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[crop_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cultivation_Session]    Script Date: 10/05/2026 4:22:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cultivation_Session](
	[cultivation_session_id] [int] IDENTITY(1,1) NOT NULL,
	[crop_id] [int] NULL,
	[land_id] [int] NULL,
	[seed_name] [varchar](100) NULL,
	[session_status] [varchar](100) NULL,
	[is_profit] [int] NULL,
	[amount_per_acre] [varchar](20) NULL,
	[is_public] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cultivation_session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Farmer]    Script Date: 10/05/2026 4:22:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Farmer](
	[farmer_id] [int] IDENTITY(1,1) NOT NULL,
	[farmer_name] [varchar](100) NULL,
	[phone] [varchar](11) NULL,
	[email] [varchar](255) NULL,
	[city_id] [int] NULL,
	[farmer_image] [varchar](255) NULL,
	[landmark] [varchar](255) NULL,
	[password] [varchar](100) NULL,
	[years_of_experience] [varchar](2) NULL,
	[Prefered_Date] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[farmer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Land]    Script Date: 10/05/2026 4:22:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Land](
	[land_id] [int] IDENTITY(1,1) NOT NULL,
	[land_name] [varchar](100) NULL,
	[years_of_cultivation] [varchar](2) NULL,
	[soil_type] [varchar](100) NULL,
	[source_of_water] [varchar](100) NULL,
	[land_in_acres] [varchar](10) NULL,
	[landmark] [varchar](255) NULL,
	[land_Status] [int] NULL,
	[city_id] [int] NULL,
	[farmer_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[land_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Neighbour]    Script Date: 10/05/2026 4:22:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Neighbour](
	[neighbour_id] [int] IDENTITY(1,1) NOT NULL,
	[land_id] [int] NULL,
	[neighbour_land_id] [int] NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[neighbour_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 10/05/2026 4:22:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[farmer_id] [int] NULL,
	[notification_type] [varchar](50) NULL,
	[title] [varchar](255) NULL,
	[message] [varchar](max) NULL,
	[is_read] [bit] NULL,
	[created_at] [varchar](255) NULL,
	[extra_data] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Performed_Activity]    Script Date: 10/05/2026 4:22:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Performed_Activity](
	[p_activity_id] [int] IDENTITY(1,1) NOT NULL,
	[cultivation_session_id] [int] NULL,
	[Activity_id] [int] NULL,
	[activity_date] [varchar](255) NULL,
	[Activity_type] [varchar](255) NULL,
	[quantity_per_acre] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[p_activity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Province]    Script Date: 10/05/2026 4:22:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[province_id] [int] IDENTITY(1,1) NOT NULL,
	[province_name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[province_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suggested_Activity]    Script Date: 10/05/2026 4:22:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suggested_Activity](
	[suggested_activity_id] [int] IDENTITY(1,1) NOT NULL,
	[cultivation_session_id] [int] NOT NULL,
	[activity_id] [int] NOT NULL,
	[days_from_sowing] [int] NOT NULL,
	[suggested_date] [varchar](255) NOT NULL,
	[priority] [varchar](20) NULL,
	[status] [varchar](20) NULL,
	[weather_delay_reason] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[suggested_activity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Activity] ON 

INSERT [dbo].[Activity] ([activity_id], [activity_name]) VALUES (4, N'Fertilization')
INSERT [dbo].[Activity] ([activity_id], [activity_name]) VALUES (7, N'Harvesting')
INSERT [dbo].[Activity] ([activity_id], [activity_name]) VALUES (11, N'Mulching')
SET IDENTITY_INSERT [dbo].[Activity] OFF
GO
SET IDENTITY_INSERT [dbo].[Chat] ON 

INSERT [dbo].[Chat] ([chat_id], [question], [answer], [chat_type], [chat_session_id], [time_stamp]) VALUES (22, N'what is weather of  my Khoo aly land', N'Typical crop duration is 120-140 days depending on variety and climate. Early varieties mature in 110-120 days. Medium in 120-130 days. Late in 130-140 days. Rainfed conditions may extend duration by 5-10 days due to moisture stress.', N'MyLands', 1, N'2026-04-29 00:43:26')
INSERT [dbo].[Chat] ([chat_id], [question], [answer], [chat_type], [chat_session_id], [time_stamp]) VALUES (23, N'what is weather of  my Khoo aly land', N'Here are your lands:
1. khooo aly (13 acres, Sandy soil)
2. neher aly (5 acres, Loam soil)

Specify a land name for details or weather.', N'MyLands', 1, N'2026-04-29 00:49:11')
INSERT [dbo].[Chat] ([chat_id], [question], [answer], [chat_type], [chat_session_id], [time_stamp]) VALUES (24, N'what is weather of my land Khoo aly ', N'Here are your lands:
1. khooo aly (13 acres, Sandy soil)
2. neher aly (5 acres, Loam soil)

Specify a land name for details or weather.', N'MyLands', 1, N'2026-04-29 00:50:39')
SET IDENTITY_INSERT [dbo].[Chat] OFF
GO
SET IDENTITY_INSERT [dbo].[chat_session] ON 

INSERT [dbo].[chat_session] ([chat_session_id], [Farmer_id]) VALUES (1, 1)
SET IDENTITY_INSERT [dbo].[chat_session] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([city_id], [city_name], [province_id]) VALUES (1, N'Kamalia', 1)
INSERT [dbo].[City] ([city_id], [city_name], [province_id]) VALUES (2, N'Attock', 1)
INSERT [dbo].[City] ([city_id], [city_name], [province_id]) VALUES (3, N'Bahawalnagar', 1)
GO
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Crop] ON 

INSERT [dbo].[Crop] ([crop_id], [crop_name], [season_name], [crop_image]) VALUES (1, N'Barley', 0, N'uploads/crops/Rabi/Barley.jpg')
INSERT [dbo].[Crop] ([crop_id], [crop_name], [season_name], [crop_image]) VALUES (2, N'Beans', 0, N'uploads/crops/Rabi/Beans.jpg')
INSERT [dbo].[Crop] ([crop_id], [crop_name], [season_name], [crop_image]) VALUES (3, N'Beets (Chakandar)', 0, N'uploads/crops/Rabi/Beets (Chakandar).jpg')
SET IDENTITY_INSERT [dbo].[Crop] OFF
GO
SET IDENTITY_INSERT [dbo].[Cultivation_Session] ON 

INSERT [dbo].[Cultivation_Session] ([cultivation_session_id], [crop_id], [land_id], [seed_name], [session_status], [is_profit], [amount_per_acre], [is_public]) VALUES (1, 1, 1, N'Barley11', N'Harvest', 1, N'8000', 1)
INSERT [dbo].[Cultivation_Session] ([cultivation_session_id], [crop_id], [land_id], [seed_name], [session_status], [is_profit], [amount_per_acre], [is_public]) VALUES (2, 29, 4, N'Tarzan-1', N'Harvest', 1, N'8000', 1)
INSERT [dbo].[Cultivation_Session] ([cultivation_session_id], [crop_id], [land_id], [seed_name], [session_status], [is_profit], [amount_per_acre], [is_public]) VALUES (3, 29, 4, N'Tarzan-1', N'Sown', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Cultivation_Session] OFF
GO
SET IDENTITY_INSERT [dbo].[Farmer] ON 

INSERT [dbo].[Farmer] ([farmer_id], [farmer_name], [phone], [email], [city_id], [farmer_image], [landmark], [password], [years_of_experience], [Prefered_Date]) VALUES (1, N'Sajjad Shahid', N'0312456789', N'sajjad@gmail.com', 1, N'uploads/farmers/my-avatar.png', N'kamalia town', N'0000', N'2', N'Wed-6-5-2026')
INSERT [dbo].[Farmer] ([farmer_id], [farmer_name], [phone], [email], [city_id], [farmer_image], [landmark], [password], [years_of_experience], [Prefered_Date]) VALUES (2, N'afnan', N'0011223344', N'afnan@gmail.com', 31, N'uploads/farmers/afnan.jpg', N'eid ghah', N'0000', N'5', NULL)
SET IDENTITY_INSERT [dbo].[Farmer] OFF
GO
SET IDENTITY_INSERT [dbo].[Land] ON 

INSERT [dbo].[Land] ([land_id], [land_name], [years_of_cultivation], [soil_type], [source_of_water], [land_in_acres], [landmark], [land_Status], [city_id], [farmer_id]) VALUES (1, N'khooo aly', N'2', N'Sandy', N'Tueb well', N'13', N'714 gb', 1, 1, 1)
INSERT [dbo].[Land] ([land_id], [land_name], [years_of_cultivation], [soil_type], [source_of_water], [land_in_acres], [landmark], [land_Status], [city_id], [farmer_id]) VALUES (2, N'neher aly', N'5', N'Loam', N'Canal', N'5', N'705 gb', 1, 1, 1)
INSERT [dbo].[Land] ([land_id], [land_name], [years_of_cultivation], [soil_type], [source_of_water], [land_in_acres], [landmark], [land_Status], [city_id], [farmer_id]) VALUES (3, N'eid ghah', N'5', N'Sandy', N'Canal', N'5', N'eidghah barag', 1, 31, 2)
SET IDENTITY_INSERT [dbo].[Land] OFF
GO
SET IDENTITY_INSERT [dbo].[Neighbour] ON 

INSERT [dbo].[Neighbour] ([neighbour_id], [land_id], [neighbour_land_id], [status]) VALUES (2, 4, 1, 1)
SET IDENTITY_INSERT [dbo].[Neighbour] OFF
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([notification_id], [farmer_id], [notification_type], [title], [message], [is_read], [created_at], [extra_data]) VALUES (1, 2, N'login', N'Login Successful', N'You have logged in successfully.', 0, N'2026-04-27T18:33:11', N'{"device": null}')
INSERT [dbo].[Notification] ([notification_id], [farmer_id], [notification_type], [title], [message], [is_read], [created_at], [extra_data]) VALUES (2, 2, N'land_added', N'Land Added Successfully', N'Your land ''neher aly'' has been added at 705 gb. You can now start a cultivation session.', 0, N'2026-04-27T18:34:31', N'{"land_name": "neher aly", "location": "705 gb"}')
INSERT [dbo].[Notification] ([notification_id], [farmer_id], [notification_type], [title], [message], [is_read], [created_at], [extra_data]) VALUES (3, 1, N'welcome', N'Welcome to Kisan Guide!', N'Assalam-o-Alaikum afnan! Welcome to our agriculture system. Add your first land to start tracking crops.', 0, N'2026-04-27T23:30:02', N'null')
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
SET IDENTITY_INSERT [dbo].[Performed_Activity] ON 

INSERT [dbo].[Performed_Activity] ([p_activity_id], [cultivation_session_id], [Activity_id], [activity_date], [Activity_type], [quantity_per_acre]) VALUES (1, 1, 2, N'Fri-24-4-2026', N'tractor ', N'20')
INSERT [dbo].[Performed_Activity] ([p_activity_id], [cultivation_session_id], [Activity_id], [activity_date], [Activity_type], [quantity_per_acre]) VALUES (2, 1, 4, N'Mon-27-4-2026', N'fertilizer foji', N'55')
INSERT [dbo].[Performed_Activity] ([p_activity_id], [cultivation_session_id], [Activity_id], [activity_date], [Activity_type], [quantity_per_acre]) VALUES (3, 1, 7, N'Thu-7-5-2026', N'labor', N'40')
SET IDENTITY_INSERT [dbo].[Performed_Activity] OFF
GO
SET IDENTITY_INSERT [dbo].[Province] ON 

INSERT [dbo].[Province] ([province_id], [province_name]) VALUES (6, N'Azad Jammu and Kashmir
')
INSERT [dbo].[Province] ([province_id], [province_name]) VALUES (4, N'Balochistan
')
INSERT [dbo].[Province] ([province_id], [province_name]) VALUES (5, N'Gilgit-Baltistan
')
SET IDENTITY_INSERT [dbo].[Province] OFF
GO
SET IDENTITY_INSERT [dbo].[Suggested_Activity] ON 

INSERT [dbo].[Suggested_Activity] ([suggested_activity_id], [cultivation_session_id], [activity_id], [days_from_sowing], [suggested_date], [priority], [status], [weather_delay_reason]) VALUES (1, 1, 1, -14, N'2026-04-13', N'high', N'completed', NULL)
INSERT [dbo].[Suggested_Activity] ([suggested_activity_id], [cultivation_session_id], [activity_id], [days_from_sowing], [suggested_date], [priority], [status], [weather_delay_reason]) VALUES (2, 1, 2, 0, N'2026-04-27', N'medium', N'completed', NULL)
INSERT [dbo].[Suggested_Activity] ([suggested_activity_id], [cultivation_session_id], [activity_id], [days_from_sowing], [suggested_date], [priority], [status], [weather_delay_reason]) VALUES (3, 1, 3, 25, N'2026-05-22', N'low', N'pending', NULL)
SET IDENTITY_INSERT [dbo].[Suggested_Activity] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Activity__656F4CCE76D4AF3C]    Script Date: 10/05/2026 4:22:34 pm ******/
ALTER TABLE [dbo].[Activity] ADD UNIQUE NONCLUSTERED 
(
	[activity_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__City__1AA4F7B599E4BA14]    Script Date: 10/05/2026 4:22:34 pm ******/
ALTER TABLE [dbo].[City] ADD UNIQUE NONCLUSTERED 
(
	[city_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Crop__00CA4F9400339670]    Script Date: 10/05/2026 4:22:34 pm ******/
ALTER TABLE [dbo].[Crop] ADD UNIQUE NONCLUSTERED 
(
	[crop_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Farmer__AB6E61643983804F]    Script Date: 10/05/2026 4:22:34 pm ******/
ALTER TABLE [dbo].[Farmer] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Farmer__B43B145F32FEC3C1]    Script Date: 10/05/2026 4:22:34 pm ******/
ALTER TABLE [dbo].[Farmer] ADD UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Province__D6FBADF96569A0C8]    Script Date: 10/05/2026 4:22:34 pm ******/
ALTER TABLE [dbo].[Province] ADD UNIQUE NONCLUSTERED 
(
	[province_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Chat]  WITH CHECK ADD FOREIGN KEY([chat_session_id])
REFERENCES [dbo].[chat_session] ([chat_session_id])
GO
ALTER TABLE [dbo].[chat_session]  WITH CHECK ADD FOREIGN KEY([Farmer_id])
REFERENCES [dbo].[Farmer] ([farmer_id])
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD FOREIGN KEY([province_id])
REFERENCES [dbo].[Province] ([province_id])
GO
ALTER TABLE [dbo].[Cultivation_Session]  WITH CHECK ADD FOREIGN KEY([crop_id])
REFERENCES [dbo].[Crop] ([crop_id])
GO
ALTER TABLE [dbo].[Cultivation_Session]  WITH CHECK ADD FOREIGN KEY([land_id])
REFERENCES [dbo].[Land] ([land_id])
GO
ALTER TABLE [dbo].[Farmer]  WITH CHECK ADD FOREIGN KEY([city_id])
REFERENCES [dbo].[City] ([city_id])
GO
ALTER TABLE [dbo].[Land]  WITH CHECK ADD FOREIGN KEY([city_id])
REFERENCES [dbo].[City] ([city_id])
GO
ALTER TABLE [dbo].[Land]  WITH CHECK ADD FOREIGN KEY([farmer_id])
REFERENCES [dbo].[Farmer] ([farmer_id])
GO
ALTER TABLE [dbo].[Neighbour]  WITH CHECK ADD FOREIGN KEY([land_id])
REFERENCES [dbo].[Land] ([land_id])
GO
ALTER TABLE [dbo].[Neighbour]  WITH CHECK ADD FOREIGN KEY([neighbour_land_id])
REFERENCES [dbo].[Land] ([land_id])
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD FOREIGN KEY([farmer_id])
REFERENCES [dbo].[Farmer] ([farmer_id])
GO
ALTER TABLE [dbo].[Performed_Activity]  WITH CHECK ADD FOREIGN KEY([Activity_id])
REFERENCES [dbo].[Activity] ([activity_id])
GO
ALTER TABLE [dbo].[Performed_Activity]  WITH CHECK ADD FOREIGN KEY([cultivation_session_id])
REFERENCES [dbo].[Cultivation_Session] ([cultivation_session_id])
GO
ALTER TABLE [dbo].[Suggested_Activity]  WITH CHECK ADD FOREIGN KEY([activity_id])
REFERENCES [dbo].[Activity] ([activity_id])
GO
ALTER TABLE [dbo].[Suggested_Activity]  WITH CHECK ADD FOREIGN KEY([cultivation_session_id])
REFERENCES [dbo].[Cultivation_Session] ([cultivation_session_id])
GO
USE [master]
GO
